<footer  class="bg-primary text-white text-center py-4 mt-5">
    <div class="container">
      <p>© 2025 EduCourse. All Rights Reserved.</p>
      <div class="d-flex justify-content-center">
        <a class="text-white mx-3" routerLink="/about">About Us</a>
        <a class="text-white mx-3" href="https://www.facebook.com" target="_blank">Facebook</a>
        <a class="text-white mx-3" href="https://www.twitter.com" target="_blank">Twitter</a>
        <a class="text-white mx-3" href="https://www.linkedin.com" target="_blank">LinkedIn</a>
      </div>
    </div>
  </footer>
  